<!DOCTYPE html>
<html>
<head>
<title>IB Dashboard</title>
<!-- <link rel="stylesheet" href="Style.css"> -->
<link href= "/views/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="topnav">
	<ul>
		<li style="padding-top: 3px; padding-left: 3px"><img src="ibimg.png" width="50" height="50"></li>
		<li style="padding: 14px 16px">IB DASHBOARD</li>
		<li style="float:right"><a href='placeholder'><img src="settings.png" width="20" height="20"></a></li>
		<li style="float:right"><a href='Statistieken'>Statistieken</a></li>
		<li style="float:right"><a href='Domeinen'>Domeinen</a></li>
		<li style="float:right"><a class="topActive" href='Main'>Home</a></li>
	</ul>
</div>

<div class="column">
	<div class="mainInout">
		<h3>In/Out</h3>
	</div>

	<div class="mainStats">
		<h3>Statistieken</h3>
	</div>
</div>

<div class="column">
	<div class="mainDomains">
		<h3>Domeinen</h3>
	</div>
</div>

</body>
</html>