<!DOCTYPE html>
<html>
<head>
<title>IB Dashboard</title>
<!-- <link rel="stylesheet" href="Style.css"> -->
<link href= "/views/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="topnav">
	<ul>
		<li style="padding-top: 3px; padding-left: 3px"><img src="ibimg.png" width="50" height="50"></li>
		<li style="padding: 14px 16px">IB DASHBOARD</li>
		<li style="float:right"><a href='placeholder'><img src="settings.png" width="20" height="20"></a></li>
		<li style="float:right"><a class="topActive" href='Statistieken'>Statistieken</a></li>
		<li style="float:right"><a href='Domeinen'>Domeinen</a></li>
		<li style="float:right"><a href='Main'>Home</a></li>
	</ul>
</div>

<div class="column side">
	<div class="statsTotaal">
		<h2>Totaal Domeinen</h2>
	</div>

	<div class="statsGemSmall">
		<h2>Gemiddelde Score</h2>
	</div>
	
	<div class="statsEigenaar">
		<h2>Eigenaar</h2>
	</div>
</div>

<div class="column middle">
	<div class="statsDomains">
		<h2>Gemiddelde Score</h2>
	</div>
</div>

</body>
</html>